.banner {
  height: 80vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  background-color: #fef4fb;

  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  .home__h-img {
    width: 690px;
  }

  .home__h-info > h1 {
    font-size: 40px;
    margin-bottom: 38px;
    user-select: none;

    span {
      font-weight: 400;
    }
  }
  .cart {
    border-radius: 22px;
    color: white;
  }
}



//----------------------------SERVICES-----------------
.services__option {
  position: relative;
  background-color: white;
  margin: 0 auto;
  width: 650px;
  border-radius: 8px;
  padding: 1vmax;
  color: #8bc54b;
  display: flex;
  justify-content: space-evenly;
  color: blac;
  bottom: 30px;
  border: 1px solid #000000;

  .ser {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .desc {
      font-size: 12px;
    }
  }
}



// ----------------------PRODUCTS---------------
.products {
  padding-top: 60px;
  padding-bottom: 60px;
  .products__container {
    .products__cards {
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .feature__product{
        margin-top: 36px;
    }
  }

  .products__container>h3{
    color: var(--primary-black);
    margin-bottom: 35px;
    text-align: center;
    font-size: 38px;

    span{
        margin-left: 0.5vmax;
        font-size: 12px;
        background-color: var(--primary-pink);
        border-radius: 15px;
        padding: 0.5vmin 1vmin;
        color: white;
        font-weight: 300;
    }
  }
}


//----------------------------MENU__IMG----------------->


.div__row-img{
    margin: 5vmax 0;
}