.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 180px;
  min-height: 308px;
  background-color: white;
  border: 3px solid #d9d9d9;
  border-radius: 8px;
  transition: var(--transition);
  .top__bar {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      border: 1px solid #51aa1b;
      border-radius: 8px;
      padding: 0.2vmax;
      background-color: #f2fef2;
      color: #51aa1b;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
  .card__img {
    img {
      width: 132px;
      height: 132px;
    }
  }

  .bottom__bar {
    padding: 8px;
    h4 {
      font-size: 14px;
      color: #28a745;
    }
    h3 {
      font-size: 17px;
    }

    .card__info {
      display: flex;
      justify-content: space-between;
    }

    .info__desc {
      display: flex;
      gap: 5px;
      align-items: center;
      height: auto;
      justify-content: center;
      svg {
        margin-top: 0.2vmax;
        font-size: 15px;
        color: var(--primary-grey);
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }

    svg {
      font-size: 25px;
      color: var(--primary-pink);
    }

    .card__desc {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn {
        padding: 0.5vmax 1vmax;
        font-size: 16px;
        border: 2px solid #ff0202;
        background-color: transparent;
        color: #ff0202;
        font-weight: 600;
        border-radius: 8px;
      }
    }
  }
}
