.Card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 180px;
  min-height: 308px;
  background-color: white;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  transition: var(--transition);
  position: relative;
  
  .top__bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 9px;
    // border: 1px solid black;

    p {
      position: absolute;
      top: 10px;
      left: 0px;
      // border-radius: 8px;
      font-size: 11px;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 5px 7px;
      color: #f2fef2;
      background-color: #51aa1b;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }
  .card__img {
    margin-bottom: 10px;
    img {
      width: 132px;
      height: 132px;
    }
  }

  .bottom__bar {
    h4 {
      font-size: 14px;
      color: #51aa1b;
    }
    h3 {
      font-size: 17px;
      font-weight: 500;
    }

    .card__info {
      margin-bottom: 20px;
      span{
        color: #51aa1b;
        font-size: 15px;
        font-style: italic;
      }
      h3{
        font-size: 18px;
        font-weight: 500;
      }
    }

    .info__desc {
      display: flex;
      gap: 5px;
      align-items: center;
      height: auto;
      justify-content: center;
      svg {
        margin-top: 0.2vmax;
        font-size: 15px;
        color: var(--primary-grey);
      }

      p {
        margin: 0;
        font-size: 12px;
      }
    }

    svg {
      font-size: 25px;
      color: var(--primary-pink);
    }
    
    .card__desc {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card__price{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .price{
          text-decoration: line-through;
          font-weight: 500;
          font-size: 15px;
          color: #ff0202;
        }
        .sale__price{
          font-size: 20px;
          font-weight: 600;
          // letter-spacing: 1px;
        }
      }
  
      .btn {
        padding: 0.5vmax 1vmax;
        font-size: 14px;
        border: 2px solid #ff0202;
        background-color: transparent;
        color: #ff0202;
        font-weight: 500;
        border-radius: 6px;
        transform-origin: bottom;
        transition: all 0.2s linear;
      }
      .btn:hover{
        background-color: #ff0202;
        color: white;
      }
    }
  }
}
