.socials__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10rem;
  background-color: black;
  .social__icon {
    svg {
      color: white;
      margin-left: 20px;
      font-size: 20px;
      cursor: pointer;
    }
  }
 p{
    margin: 0;
 }
}

nav {
  height: 5rem;
  background-color: #ffffff;
  padding-top: 5px;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);

  .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 90px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      li {
        list-style: none;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;
      svg {
        color: #8bc54b;
        font-size: 35px;
        cursor: pointer;
      }
    }
  }
}
