nav{
    height: 5rem;
    background-color: #000000;
    padding-top: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);

    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            width: 90px;
        }


        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 22px;

            li{
                list-style: none;

                a{
                    text-decoration: none;
                }
            }

            .cart{
                background-color: #8BC54B;
                padding: 10px;
                font-size: 16px;
                border-radius: 14px;
                border: none;
                transition: var(--transition);

                &:hover{
                    background-color: #79d01b;
                    border: none;
                    color: white;
                    outline: none;
                }
            }

            .wishlist{
                background-color: transparent;
                padding: 10px;
                font-size: 16px;
                border-radius: 14px;
                border: 1px solid #8BC54B;
                color: #79d01b;
                transition: var(--transition);
            }
        }
    }
}